language: python

python:
    - "3.4"
    - "3.5"
    - "3.6"
    - "3.7-dev"
    - "nightly"

install:
    - "pip install --upgrade --requirement requirements.txt"
    - "./scripts/build-install.sh"

script:
    - "./scripts/check-tests.sh"
    - "./scripts/build-wheel.sh"
    - "./scripts/build-doc.sh"

