language: python

python:
    - "3.4"
    - "3.5"
    - "3.6"
    - "3.7"

before_install:
    - "sudo apt-get install -y libportaudio2"

install:
    - "pip install --upgrade pip"
    - "pip install --requirement requirements.txt"
    - "./scripts/build-install-global.sh"

script:
    - "./scripts/check-tests.sh"
    - "./scripts/build-wheel.sh"
    - "./scripts/build-doc.sh"

notifications:
    email: false
